name: deploy resource

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - name: checkout code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }}
        fetch-depth: 0
    - name: run tests
      working-directory: ./tests
      run: ./run_tests.sh

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: checkout code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }}
        fetch-depth: 0
    - name: git version
      id: version
      uses: codacy/git-version@2.7.1
      with:
        release-branch: main
    - name: echo version
      run: |
        echo ${{ steps.version.outputs.version }}
    - name: set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: login to docker hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: build and push docker image
      uses: docker/build-push-action@v5
      with:
        push: true
        tags:  |
          ${{ secrets.DOCKERHUB_USERNAME }}/authorize-job-resource:${{ steps.version.outputs.version }}
          ${{ secrets.DOCKERHUB_USERNAME }}/authorize-job-resource:latest
          
